In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df_train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv') 
df_test = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [4]:
df_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [5]:
df_train.describe(include='all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,2
top,LP001616,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,Y
freq,1,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,422
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,NaN

In [6]:
(df_train.isnull().sum(axis=0)*100/len(df_train)).sort_values(ascending=False)

Credit_History       8.143322
Self_Employed        5.211726
LoanAmount           3.583062
Dependents           2.442997
Loan_Amount_Term     2.280130
Gender               2.117264
Married              0.488599
Loan_Status          0.000000
Property_Area        0.000000
CoapplicantIncome    0.000000
ApplicantIncome      0.000000
Education            0.000000
Loan_ID              0.000000
dtype: float64

In [7]:
df_train.Credit_History.value_counts(normalize=True)

1.0    0.842199
0.0    0.157801
Name: Credit_History, dtype: float64

In [8]:
df_train.Credit_History.fillna(value=df_train.Credit_History.mode()[0],inplace=True)

In [9]:
df_train.Self_Employed.value_counts(normalize=True)

No     0.859107
Yes    0.140893
Name: Self_Employed, dtype: float64

In [10]:
df_train.Self_Employed.fillna(value=df_train.Self_Employed.mode()[0],inplace=True)

In [11]:
df_train.Dependents.value_counts(normalize=True)

0     0.575960
1     0.170284
2     0.168614
3+    0.085142
Name: Dependents, dtype: float64

In [12]:
#Here in case of na values in dependents we are going to delete rows containing Dependents as NAs.
df_train = df_train[~df_train.Dependents.isnull()]
df_train.shape

(599, 13)

In [13]:
len(df_train.Loan_Amount_Term.unique())
df_train.Loan_Amount_Term.value_counts(normalize=True)

360.0    0.856655
180.0    0.073379
480.0    0.022184
300.0    0.022184
84.0     0.006826
240.0    0.005119
120.0    0.005119
36.0     0.003413
60.0     0.003413
12.0     0.001706
Name: Loan_Amount_Term, dtype: float64

In [14]:
df_train.Loan_Amount_Term.fillna(value=df_train.Loan_Amount_Term.mode()[0],inplace=True)

In [15]:
df_train.Gender.fillna(value=df_train.Gender.mode()[0],inplace=True)

In [16]:
round((df_train.isnull().sum(axis=0)/len(df_train))*100,2)

Loan_ID              0.00
Gender               0.00
Married              0.00
Dependents           0.00
Education            0.00
Self_Employed        0.00
ApplicantIncome      0.00
CoapplicantIncome    0.00
LoanAmount           3.34
Loan_Amount_Term     0.00
Credit_History       0.00
Property_Area        0.00
Loan_Status          0.00
dtype: float64

In [17]:
df_train.LoanAmount.describe()

count    579.000000
mean     146.816926
std       86.343049
min        9.000000
25%      100.000000
50%      128.000000
75%      169.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [18]:
df_train= df_train[~df_train.LoanAmount.isnull()]

In [19]:
df_train.isnull().sum(axis=0)/len(df_train)

Loan_ID              0.0
Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [20]:
df_train.shape

(579, 13)

In [21]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [22]:
Gen = pd.get_dummies(df_train.Gender)
Gen = Gen['Female']
Gen_Fem = Gen

In [23]:
Mar = pd.get_dummies(df_train.Married)
Mar_yes = Mar['Yes']

In [24]:
Dep = pd.get_dummies(df_train.Dependents)
Dep = Dep[['0','1','2']]

In [25]:
Edu = pd.get_dummies(df_train.Education)
Graduate_yes = Edu['Graduate']

In [26]:
SE = pd.get_dummies(df_train.Self_Employed)
SE_yes = SE['Yes']

In [27]:
CH = df_train.Credit_History
CH[CH==1] = 'yes'
CH[CH==0] = 'no'
CH = pd.get_dummies(CH)
CH_yes = CH['yes']

In [28]:
PA = pd.get_dummies(df_train.Property_Area)
PA = pd.concat((PA['Rural'],PA['Urban']),axis=1)

In [29]:
LS = pd.get_dummies(df_train.Loan_Status)
LS_yes = LS['Y']

In [30]:
LAT = df_train.Loan_Amount_Term
LAT = LAT/120
LAT = pd.get_dummies(LAT)

If we see the Loan Amount Term column in test data we come to know that two values (6 and 350) are not there in test set which can create a problem while applying algorithm on test data since for loan amount term in training we will have 10 dummy variables and for test 12. So we create 2 more columns in training data with 0 entries.

In [31]:
LAT['0.05'] = 0     #6/120
LAT['2.9166666666666665']=0  #350/120

In [32]:
X = pd.concat((Gen.reset_index(drop=True),Mar_yes.reset_index(drop=True),Dep.reset_index(drop=True),Graduate_yes.reset_index(drop=True),SE_yes.reset_index(drop=True),CH_yes.reset_index(drop=True),PA.reset_index(drop=True),LAT.reset_index(drop=True)),axis=1)

In [33]:
y = pd.DataFrame(LS_yes)

In [34]:
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

In [35]:
model = GaussianNB()

In [36]:
model= model.fit(X,y)
model

C:\Users\Administrator\Desktop\Python\New folder\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None)

In [37]:
pred = model.predict(X)

In [38]:
print(metrics.classification_report(y,pred))

             precision    recall  f1-score   support

          0       0.31      0.99      0.47       175
          1       0.90      0.02      0.04       404

avg / total       0.72      0.32      0.17       579

In [39]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y,pred))

[[174   1]
 [395   9]]

In [40]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y,pred))

0.316062176166

In [41]:
CM = confusion_matrix(y,pred)
specificity = CM[0][0]/(CM[0][0]+CM[0][1])
sensitivity = CM[1][1]/(CM[1][1]+CM[1][0])
print((sensitivity, specificity))

(0.022277227722772276, 0.99428571428571433)

The sensitivity of this model is very low. Specificity is very high. (i.e it predicts maximum no of individuals who should not be given the loan with maximum accuracy). If we want the sensitivity, specificity and accuracy of the model to be approximately equal then we can do that by tuning the probability cut off. But for this type of data identifying individuals who should not be given the loan is more important.

#Tuning of probality parameter can be done the same way it was done in KNN and Logistic Regression in LoanPredictionProblem.

#Considering this as the final model lets apply this on the test data.

# Test Data

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [43]:
df_train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv') 
df_test = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

In [44]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [45]:
df_test.Dependents.value_counts(normalize=True)

0     0.560224
2     0.165266
1     0.162465
3+    0.112045
Name: Dependents, dtype: float64

In [46]:
df_test.Dependents.fillna(value='3+',inplace=True)

In [47]:
df_test.Gender.value_counts(normalize=True)
df_test.Gender.fillna(value=df_test.Gender.mode()[0],inplace=True)
df_test.Gender.value_counts(normalize=True)

Male      0.809264
Female    0.190736
Name: Gender, dtype: float64

In [48]:
df_test.Self_Employed.fillna(value=df_test.Self_Employed.mode()[0],inplace=True)

In [49]:
normalrangeLoanAmount=df_test.LoanAmount[df_test.LoanAmount<df_test.LoanAmount.quantile(0.99)]
df_test.LoanAmount.fillna(value=normalrangeLoanAmount.mean(),inplace=True)

In [50]:
df_test.Loan_Amount_Term.value_counts(normalize=True)
df_test.Loan_Amount_Term.fillna(value=df_test.Loan_Amount_Term.mode()[0],inplace=True)

In [51]:
df_test.Credit_History.fillna(value=df_test.Credit_History.mode()[0],inplace=True)

In [52]:
df_test.Property_Area.fillna(value=df_test.Property_Area.mode()[0],inplace=True)

In [53]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               367 non-null object
Married              367 non-null object
Dependents           367 non-null object
Education            367 non-null object
Self_Employed        367 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           367 non-null float64
Loan_Amount_Term     367 non-null float64
Credit_History       367 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [54]:
Gen_t = pd.get_dummies(df_test.Gender)
Gen_t = Gen_t['Female']
Gen_Fem_t = Gen

In [55]:
Mar_t = pd.get_dummies(df_test.Married)
Mar_yes_t = Mar_t['Yes']

In [56]:
Dep_t = pd.get_dummies(df_test.Dependents)
Dep_t = Dep_t[['0','1','2']]

In [57]:
Edu_t = pd.get_dummies(df_test.Education)
Graduate_yes_t = Edu_t['Graduate']

In [58]:
SE_t = pd.get_dummies(df_test.Self_Employed)
SE_yes_t = SE_t['Yes']

In [59]:
CH_t = df_test.Credit_History
CH_t[CH_t==1] = 'yes'
CH_t[CH_t==0] = 'no'
CH_t = pd.get_dummies(CH_t)
CH_yes_t = CH_t['yes']

C:\Users\Administrator\Desktop\Python\New folder\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [60]:
PA_t = pd.get_dummies(df_test.Property_Area)
PA_t = pd.concat((PA_t['Rural'],PA_t['Urban']),axis=1)

In [61]:
LAT_t = df_test.Loan_Amount_Term
LAT_t = LAT_t/120
LAT_t = pd.get_dummies(LAT_t)

In [62]:
X_t = pd.concat((Gen_t.reset_index(drop=True),Mar_yes_t.reset_index(drop=True),Dep_t.reset_index(drop=True),Graduate_yes_t.reset_index(drop=True),SE_yes_t.reset_index(drop=True),CH_yes_t.reset_index(drop=True),PA_t.reset_index(drop=True),LAT_t.reset_index(drop=True)),axis=1)

In [63]:
pred_t = model.predict(X_t)

In [64]:
pred_t

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [65]:
test_prediction = pd.DataFrame(pred_t)

In [66]:
test_prediction.columns = ['prediction']

In [67]:
test_prediction.prediction.value_counts()

0    361
1      6
Name: prediction, dtype: int64